.contenido{
    width: 100%;
   
    flex-wrap: wrap;
   justify-content: space-around;
    padding: 15px;
    gap: 20px;

    div{
     
       gap: 5px;
       
        div{
            width:100%;
          justify-content:center;
          gap: 100px;
        }
    }
    
    
}
