.contenido{
    width: 100%;
   
    flex-wrap: wrap;
   justify-content: space-around;
    padding: 30px 15px;
    gap: 30px;

    div{
     
       gap: 5px;
       
        div{
         min-width: 300px;
          justify-content:space-between;
          /* gap: 50px; */
        }
    }
}
